name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "30 2 * * *" # Every night at 2:30am UTC (if you change this schedule, also change the if statement in the test steps)

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          path: encr.dev
          fetch-depth: 1

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1-${{ runner.os }}-${{ hashFiles('encr.dev/**/go.sum') }}
          restore-keys: |
            go-modules-v1-${{ runner.os }}-

      - name: Build
        run: cd encr.dev && go build ./...

      - name: Build for Windows
        run: cd encr.dev && go build ./...
        env:
          GOOS: windows

  test:
    needs: build
    name: "Test"
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          path: encr.dev
          fetch-depth: 1

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1-${{ runner.os }}-${{ hashFiles('encr.dev/**/go.sum') }}
          restore-keys: |
            go-modules-v1-${{ runner.os }}-

      - name: Install encore-go
        run: |
          URL=$(curl -s https://api.github.com/repos/Olimi-org/ap-go/releases/latest | grep "browser_download_url.*linux_amd64.tar.gz" | cut -d : -f 2,3 | tr -d \" | tr -d '[:space:]')
          curl --fail -L -o encore-go.tar.gz $URL && tar -C . -xzf ./encore-go.tar.gz

      - name: Run tests on changed code on the CLI
        run: cd encr.dev && go test -p 16 -parallel 32 -short -tags=dev_build 2>&1 ./...
        if: github.event.schedule != '30 2 * * *'
        env:
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes

      - name: Run tests on changed runtime code
        run: cd encr.dev/runtimes/go && go test -p 16 -parallel 32 -short -tags=dev_build ./...
        if: github.event.schedule != '30 2 * * *'

      - name: Run all tests multiple times on the CLI
        run: cd encr.dev && go test -p 16 -parallel 32 -v --count=5 -failfast -shuffle=on -timeout=30m -tags=dev_build ./...
        if: github.event.schedule == '30 2 * * *'
        env:
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes

      - name: Run all tests multiple times on the runtime
        run: cd encr.dev/runtimes/go && go test -p 16 -parallel 32 -v --count=5 -failfast -shuffle=on -timeout=30m -tags=dev_build ./...
        if: github.event.schedule == '30 2 * * *'

  test-e2e:
    needs: build
    name: "Test e2e"
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          path: encr.dev
          fetch-depth: 1

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: go-modules-v1-${{ runner.os }}-${{ hashFiles('encr.dev/**/go.sum') }}
          restore-keys: |
            go-modules-v1-${{ runner.os }}-

      - name: Install encore-go
        run: |
          URL=$(curl -s https://api.github.com/repos/Olimi-org/ap-go/releases/latest | grep "browser_download_url.*linux_amd64.tar.gz" | cut -d : -f 2,3 | tr -d \" | tr -d '[:space:]')
          curl --fail -L -o encore-go.tar.gz $URL && tar -C . -xzf ./encore-go.tar.gz

      - name: Install tsbundler
        run: cd encr.dev && go install ./cli/cmd/tsbundler-encore

      - name: Run tests on changed code on the CLI
        run: cd encr.dev && go test -p 16 -parallel 32 -short -tags=e2e 2>&1 ./e2e-tests
        if: github.event.schedule != '30 2 * * *'
        env:
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes

      - name: Run all tests multiple times on the CLI
        run: cd encr.dev && go test -p 16 -parallel 32 -v --count=5 -failfast -shuffle=on -timeout=30m -tags=e2e ./e2e-tests
        if: github.event.schedule == '30 2 * * *'
        env:
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes
