name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "30 2 * * *" # Every night at 2:30am UTC (if you change this schedule, also change the if statement in the test steps)

jobs:
  setup:
    name: "Setup"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          path: encr.dev

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - name: Download Go modules
        run: cd encr.dev && go mod download
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache

      - name: Build
        run: cd encr.dev && go build ./...
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache

      - name: Install encore-go
        run: |
          URL=$(curl -s https://api.github.com/repos/Olimi-org/ap-go/releases/latest | grep "browser_download_url.*linux_amd64.tar.gz" | cut -d : -f 2,3 | tr -d \" | tr -d '[:space:]')
          curl --fail -L -o encore-go.tar.gz $URL && tar -C . -xzf ./encore-go.tar.gz

      - uses: actions/upload-artifact@v4
        with:
          name: workspace
          path: |
            encr.dev
            encr.dev/.git
            encore-go
            go-mod-cache

  build:
    needs: setup
    name: "Build"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - name: Build
        run: cd encr.dev && go build ./...
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache

      - name: Build for Windows
        run: cd encr.dev && go build ./...
        env:
          GOOS: windows
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache

  test:
    needs: setup
    name: "Test"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - name: Run tests on changed code on the CLI
        run: cd encr.dev && go test -p 16 -parallel 8 -short -tags=dev_build 2>&1 ./...
        if: github.event.schedule != '30 2 * * *'
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes

      - name: Run tests on changed runtime code
        run: cd encr.dev/runtimes/go && go test -p 16 -parallel 8 -short -tags=dev_build ./...
        if: github.event.schedule != '30 2 * * *'
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache

      - name: Run all tests multiple times on the CLI
        run: cd encr.dev && go test -p 16 -parallel 8 -v --count=5 -failfast -shuffle=on -timeout=30m -tags=dev_build ./...
        if: github.event.schedule == '30 2 * * *'
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes

      - name: Run all tests multiple times on the runtime
        run: cd encr.dev/runtimes/go && go test -p 16 -parallel 8 -v --count=5 -failfast -shuffle=on -timeout=30m -tags=dev_build ./...
        if: github.event.schedule == '30 2 * * *'
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache

  test-e2e:
    needs: setup
    name: "Test e2e"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: workspace

      - name: Setup Mise
        uses: jdx/mise-action@v3

      - name: Install tsbundler
        run: cd encr.dev && go install ./cli/cmd/tsbundler-encore
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache

      - name: Run tests on changed code on the CLI
        run: cd encr.dev && go test -p 16 -parallel 8 -short -tags=e2e 2>&1 ./e2e-tests
        if: github.event.schedule != '30 2 * * *'
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes

      - name: Run all tests multiple times on the CLI
        run: cd encr.dev && go test -v --count=5 -failfast -shuffle=on -timeout=30m -tags=e2e ./e2e-tests
        if: github.event.schedule == '30 2 * * *'
        env:
          GOMODCACHE: ${{ github.workspace }}/go-mod-cache
          ENCORE_GOROOT: ${{ github.workspace }}/encore-go
          ENCORE_RUNTIMES_PATH: ${{ github.workspace }}/encr.dev/runtimes
